{
    "extends": "airbnb-base",
    "rules": {
		"eqeqeq": "off",
		"no-console": "off",
		"require-jsdoc": ["warn", {
	        "require": {
	            "FunctionDeclaration": true,
	            "MethodDefinition": true,
	            "ClassDeclaration": false,
	            "ArrowFunctionExpression": false,
	            "FunctionExpression": false
	        }
	    }],
		"valid-jsdoc": "warn"
    }
}
